node_modules/
dist/
.npm-cache/
.DS_Store
# QwenTTS Server 这个只保留个本地文件夹就行
# qwen_tts_server/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Release
release/*
!release/.gitkeep
